<div class="col-med-8 col-sm-12 col-xs-12">

  <form name="form" novalidate ng-submit="$ctrl.newCard()">

    <textarea id="cardTextArea" class="form-control" rows="2" maxlength="255" name="question" required ng-model="$ctrl.card.question" placeholder="ex.'What was your favorite childhood book?'"></textarea>
    <div class="row">

      <div class="form-group">
        <button type="submit" class="btn btn-primary pull-right" ng-disabled="form.$invalid">Add Question</button>
      </div>

    </div>

  </form>
  <div ng-if="$ctrl.cards.length >= 36" class="alert alert-warning" role="alert">
    <p>Reached max number of questions, please click 'submit all' to see your new deck!</p>
  </div>

  <div class="row">
    <button ng-click ="$ctrl.submitAll()" type="button" class="pull-right" name="button">Submit All Questions</button>
  </div>

  <div class="row">
    <div ng-repeat='card in $ctrl.cards' class="col-med-6">
      <ol>
      <li>{{card.question}}</li>
    </ol>
    </div>

  </div>


</div>
