/*font-family: 'Cabin', sans-serif;
font-family: 'Source Sans Pro', sans-serif;*/

/*
yellow :
#F7C74A
#D5A61C
#EABA72
*/

/*
sage :
#ACB19A
#B4B4A1
#7A8D65
*/

/*
darkgreen :
#536442
#4D5F4E
*/



/*Body*/

html, body {
  height: 100%;
  background-color: #E8E4DB;
}

body {
  position: relative;
}

h1,h2,h3,h4,h5 {
  font-family: 'Cabin', sans-serif;
  letter-spacing: 0.4em;
  text-transform: uppercase;
}

p {
  font-family: 'Source Sans Pro', sans-serif;
}

button {
  background-color: rgba(213, 166, 28, 1);
  padding: 9px 16px;
  border-radius: 2px;
  border: none;
  font-family: 'Source Sans Pro', sans-serif;
  -webkit-transition-duration: 0.4s; /* Safari */
   transition-duration: 0.4s;
   margin: 10px;
}

.button:hover {
    background-color: rgba(213, 166, 28, 0.2);
}

.button:active {
  background-color: rgba(188, 141, 3, 1);
}

/*Page Spacing*/

.content-buffer {
  padding-bottom: 30px;
}

.bottom-margin {
  margin-top: 25px;
  margin-bottom: 30px;
}

.row-padding {
  padding-top: 10px;
  padding-bottom: 10px;
}

.center-flex {
  display: flex;
  flex-flow: row;
  justify-content: center;
}

.left-flex {
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
}

.center-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.padding-left {
  padding-left: 50px;
}

.flex-center {
  align-self: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
/*rgba(0, 0, 0, 0.3)*/
.text-overlay-bg {
  background: rgba(213, 166, 28, .7);
  padding: 7px;
  color: white;
  border-radius: 2px;
}

/* Splash */

#splashBackground {
  width: 100%;
  height: 100%;
}

#splashSquare {
  background-image: url('../assets/background_photos/touching_hands.jpg');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  opacity: 0.9;
  display: flex;
  height: 480px;
  width: 500px;
}

/* Home */

#photoBackground {
  /* Set rules to fill background */
  /*min-height: 100%;*/
  /*min-width: 1024px;*/

  /* Set up proportionate scaling */
  width: 100%;
  /*height: auto;*/

  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
  #photoBackground {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}

/* Select */

.deckPanel {
  border: 1px solid black;
}

/* Play */

.cardPanel {


}

.cardPanelText {
  position: absolute;
  top: 100px;
  left: 25px;
  /*width: 100%;*/
  background: rgba(0, 0, 0, 0.6);
  padding: 15px;
  color: white;
}
