/*font-family: 'Cabin', sans-serif;
font-family: 'Source Sans Pro', sans-serif;*/

/*
yellow :
#F7C74A
#D5A61C
#EABA72
*/

/*
sage :
#ACB19A
#B4B4A1
#7A8D65
*/

/*
darkgreen :
#536442
#4D5F4E
*/



/*Body*/

html, body {
  height: 100%;
  background-color: #E8E4DB;
}

body {
  position: relative;
}

h1,h2,h3,h4,h5 {
  font-family: 'Cabin', sans-serif;
  letter-spacing: 0.4em;
  text-transform: uppercase;
}

p,a,li {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: .86em;
}

li {
  padding: 3px 16px;
  font-size: .95em;
}

li:nth-child(odd) {
  background-color: rgba(208,205,197,0.2);
}


button {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: .86em;
  background-color: rgba(149, 73, 54, .9);
  padding: 2px 9px;
  border-radius: 2px;
  border: none;
  font-family: 'Source Sans Pro', sans-serif;
  color: white;
  -webkit-transition-duration: 0.4s; /* Safari */
   transition-duration: 0.4s;
   margin: 10px;
   box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}

.button:hover {
    background-color: rgba(213, 166, 28, 0.2);
}

.button:active {
  background-color: rgba(188, 141, 3, 1);
}

/*Page Spacing*/

.content-buffer {
  padding-bottom: 30px;
}

.bottom-margin {
  margin-top: 25px;
  margin-bottom: 30px;
}

.row-padding {
  padding-top: 10px;
  padding-bottom: 10px;
}

.top-spacer {
  margin-top: 30px;
}

.top-spacer-more {
  margin-top: 55px;
}

.flex {
  display: flex;
}

.left-flex {
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
}

.center-modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.padding-left {
  padding-left: 50px;
}

.padding-left-right {
  padding-left: 30px;
  padding-right: 25px;
}

.flex-center {
  /*align-self: center;*/
  display: flex;
  flex-flow: row;
  justify-content: center;
}


/*rgba(0, 0, 0, 0.3)*/
.text-overlay-bg {
  background: rgba(40, 51, 51, .79);
  /*background: rgba(213, 166, 28, .7);*/
  padding-top: 8px;
  padding-left: 55px;
  padding-right: 55px;
  color: white;
  margin-top: 30px;
  border-radius: 2px;
}

/* Splash */

#splashBackground {
  width: 100%;
  height: 100%;
}

#splashSquare {
  background-image: url('../assets/background_photos/slowed.gif');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  opacity: 0.8;
  display: flex;
  height: 390px;
  width: 480px;
  border: 1px solid grey;
}

/* Home */

#photoBackground {
  /* Set rules to fill background */
  /*min-height: 100%;*/
  /*min-width: 1024px;*/

  /* Set up proportionate scaling */
  width: 100%;
  /*height: auto;*/

  /* Set up positioning */
  position: fixed;
  top: 0;
  left: 0;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
  #photoBackground {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}

/* Select */

.card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  transition: 0.3s;
  border-radius: 5px;
  height: 100%;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
    padding: 4px 18px;
    margin-top: 20px;

}
/* Play */

.cardPanel {
  margin-top: 20px;
  max-width: 100%;
  height: auto;
  display: inline-block;
  vertical-align: middle;
  margin-bottom: 50px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

}

.cardPanelText {
  position: absolute;
  top: 25%;
  /*left: 15%;*/
  width: 91.7%;
  background: rgba(40, 51, 51, .8);
  padding: 18px;
  color: white;
  word-spacing: 0.1em;
}

.half-down {
  padding-top: 20%;
}

.play-nav {
  width:20px;
  height:20px;
}

@media (max-width:720px) {
  .play-nav {
    width:40px;
    height:40px;
  }
}


.imgOpacity {
  opacity: 0.2;
}
